{% extends 'base.html' %}

{% block body %}

  <div class="container">

   <h1 style="text-align: center">Lottery app</h1>
   <hr>
      <h3>Add new participant</h3>
    <div id="error" style="color: #9C1A1C ">
    </div>
      <label for="username">User name:</label>
      <input class="form-control" id="username" name="username" type="text" value="">
      <br>
      <input id="add_user" type="submit" value="Add" class="btn btn-success"/>


  <div>
    <br>
      <button id="choose_winners" type="button" class="btn btn-success">Choose random winners</button>
  </div>

  <div id="winners_div" style="display:none;">
    <h3>Today our winners are:</h3>
    <br>
    <ul class="list-group">
      <li id="list1" class="list-group-item"></li>
      <li id="list2" class="list-group-item"></li>
      <li id="list3" class="list-group-item"></li>
    </ul>
  </div>

  <h3>Currently registered participants</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id="users">
{#          {% for user in context %}#}
{#        <tr>#}
{#          <td id="usernaeme_list">{{ user.username }}</td>#}
{#          <td>#}
{#            <button class="btn btn-danger btn-xs delete_button" data-user-id="{{ user.id }}">#}
{#              <span class="glyphicon glyphicon-trash"></span>#}
{#            </button>#}
{#          </td>#}
{#        </tr>#}
{#          {% endfor %}#}
      </tbody>
    </table>
   </div>
{% endblock %}